body{
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #051753;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';

}

#barra_de_nav{
    border: 0;
    margin: 0px;
    padding: 0;
    background-color: white;
    width: 100%;
    height: 10%;
}

#main{
    height: 90%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#area-busca-tb-assis{
    width: 80%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#form-input-pesquisa-tb-assis{
    width: 60%;
}
#input-busca-tb-assis{
    border-radius: 5px;
    font-family: 'Montserrat';
    padding-block: 5px;
    padding-left: 5px;
    width: 82%;
    border: none;
    outline: none;
    font-weight: bold;
}
#btn-pesquisar-tb-assis{
    color: white;
    font-weight: bold;
    background-color: #36b6ff;
    padding-block: 5px;
}

#txt-Quant_resultados{
    padding-bottom: -10px;
    width: 40%;
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: 10pt;
}

#btn-cad-tb-assis{
    background-color: #36b6ff;
    color: white;
    font-weight: bold;
    padding-block: 5px;
}

#area-tb-assis{
    width: 80%;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th {
    background-color: #f4f4f4;
    text-align: center;
    font-weight: 900;
}
th, td {
    border: 1px solid #ccc;
}

td{
    color: white;
    padding-block: 10px;
    border-inline: none;
}
tr:hover {
    background-color: #0f2775;
}

#cln-id-tb-assis{
    width: 5%;
    text-align: center;
    border-right: solid 1px white;

}
#cln-nome-tb-assis{
    padding-left: 5px;
}
#cln-data-nasc-tb-assis{
    width: 13%;
    text-align: center;
}
#cln-cpf-tb-assis{
    width: 14%;
    text-align: center;
}
#cln-acao-tb-assis{
    text-align: center;
    width: 12%;
    border-left: solid 1px white;

}
.btn-acao-tb-assis{
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    border: none;
    cursor: pointer;
    padding-block: 2px;
}
#btn-edit-assis{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 251, 0);
}


@media (max-width: 800px) {
    #area-busca-tb-assis, #area-tb-assis{
        width: 100%;
        align-items: center;

    }
    #form-input-pesquisa-tb-assis{
        width: 70%;
        align-items: center;
    }

    #input-busca-tb-assis{
        padding-left: 5px;
        width: 65%;
        font-size: 12pt;
        font-weight: bold;
    }
    #btn-pesquisar-tb-assis{
        padding-block: 6px;
    }
    #btn-cad-tb-assis{
        margin-bottom: 15px;
        padding-block: 6px;
    }

    #area-tb-assis {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        max-width: 100%;
    }

    table{
        width: auto;
        min-width: 600px
    }

    #btn-edit-assis{
        margin-top: 5px;
    }

    th{
        font-size: 10pt;
    }

    td{
        font-size: 11pt;
    }
    #cln-id-tb-assis{
        width: 7%;
        border-right: solid 1px white;
    }

    #cln-cpf-tb-assis{
        width: 22%;
     }
     #cln-data-nasc-tb-assis{
        width: 15%;
    }

    #cln-acao-tb-assis{
        text-align: center;
        width: 16%;
        border-left: solid 1px white;

    }
 
}