#main-ficha_assistencial{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

/* Dados Pessoais */
#ficha-assistido-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

#fieldset-grupo-form{
    width: 95%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    padding: 10px;
}

.bloco{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-inline: 5px;
}
.label-form{
    color: #ffffff;
    font-weight: bold;
}

#area-input-nome{
    width: 89%;
}
#area-input-id{
    width: 6%;
}
#input-id{
    color: white;
    background-color: #1236aa;
}

#area-input-tel, #area-input-tel2, #area-input-cpf, #area-input-datanasci{
    width: calc(93% / 4)
}

#area-input-nomemae{
    width: 97%;
    margin-bottom: 10px;
}
#area-input-cep{
    width: 20%;
}
#area-input-cidade, #area-input-bairro{
    width: calc(75% / 2);
    margin-bottom: 10px;
}
#area-input-logradouro{
    width: 55%;
}
#area-input-numero{
    width: 10%;
}
#area-input-vinculo{
    width: 30%;
}
#area-tip_assistencia{
    width: 97%;
}
.checkbox-padrao{
    background-color: #D6e4f0;
    border-bottom: 5px solid #808080;
    padding-block: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    
}
.checkbox-padrao label{
    color: #0f2775;
}
#area-input-observaco{
    width: 97%;
}
#input-observacao{
    resize: none;
    height: 90px;
    font-size: 13pt;
}

/* Detalhes */
#area-detalhes_ficha_assistido_form{
    width: 96%;
    color: rgb(206, 206, 206);
    font-size: 10pt;
}
#area-detalhes_ficha_assistido_form label{
    color: rgb(206, 206, 206);

}


/* Área de Botões */
#area-btns-form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 10px;
    gap: 5px;
}
#area-btn_voltar{
    flex: 1;
}

#btn-salvar-form{
    display: none;
}
#btn-cancelar-form{
    display: none;
}


/* Área Históricos ====================== */
#area-historicos_assis{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Histórico Assistências */
#are-hist_assis{
    width: 100%;
}
.subtitle{
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-block: 0px;
    background-color: #1236aa;
    cursor: pointer;
}
hr{
    width: 80%;
    margin-block: 0px;
}
td{
    text-align: center;
}

/* Histórico de Senhas */
#area-hist-senhas{
    width: 100%;
}


@media (max-width: 950px) {
    
    #ficha-assistido-form{
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
    }
    #fieldset-grupo-form{
        width: 92%;
    }
    
    #area-input-nome{
        width: 80%;
    }
    #area-input-id{
        width: 14%;
    }
    
    #area-input-tel, #area-input-tel2, #area-input-cpf, #area-input-datanasci{
        width: calc(93% / 2);
        gap: 5px;
    }
    #area-input-tel, #area-input-tel2{
        margin-bottom: 10px;
    }

    #area-input-nomemae{
        width: 96%;
        margin-bottom: 10px;
    }
    #area-input-cep{
        width: 30%;
    }
    #area-input-cidade{
        width: 64%;
    }
    #area-input-bairro, #area-input-logradouro{
        width: calc(94% / 2);
        margin-bottom: 10px;
    }

    #area-input-numero{
        width: 20%;
    }
    #area-tip_assistencia{
        width: 95%;
    }

    .btns-form{
        width: 25vw;
        margin-block: 10px;
    }


    #area-historicos_assis{
        width: 100%;
    }
    #are-hist_assis{
        width: 100%;
        margin-bottom: 10px;
    
    }
}

@media (max-width: 1200px) {
    
    #ficha-assistido-form{
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
    }

    #area-btns-form{
        width: 97%;
        display: flex;
        flex-direction: row;
        justify-content: right;
        margin-top: 10px;
        gap: 5px;
    }
    #area-historicos_assis{
        width: 97%;
    }
    #are-hist_assis{
        width: 97%;
        margin-bottom: 10px;
    
    }
    
}