body{
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #051753;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';

}

#barra_de_nav{
    border: 0;
    margin: 0px;
    padding: 0;
    background-color: white;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}

#main{
    padding-top: 30px;
    display: flex;
}

#ficha-assistido-form{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fieldset-grupo-form{
    width: 50vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
}
#form-bloco1{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#area-input-nome{
    width: 90%;
}
#area-input-id{
    width: 10%;
}
#input-id{
    font-size: 12pt;
    font-weight: bold;
    color: black;
}

#form-bloco2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.label-form{
    font-weight: bold;
    color: white;
}
.input-form{
    font-size: 12pt;
    color: #000000;
}
#input-tel, #input-data_nascimento, #input-cpf, #cep{
    text-align: center;
}
#input-tel{
    width: 11vw;
}
#area-input-cpf{
    width: 11vw;
}
#area-input-datanasci{
    width: 13vw;
}

#input-data_nascimento{
    width: 8vw;
}
#area-input-nomemae{
    width: 25vw;
    margin-right: 15px;
}
#area-input-cep{
    width: 10vw;
}
#area-input-cidade{
    width: 25vw;
}
#area-input-bairro{
    width: 20.5vw;}
#area-input-logradouro{
    width: 18vw;
    margin-right: 15px;
}
#area-input-numero{
    width: 5vw;
}
#input-numero{
    display: flex;
    align-items: center;
}
.input-tip_assis{
    font-size: 12pt;
    font-weight: bold;
    color: white;
}
#area-btns-form{
    margin-top: 10px;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
input[type="checkbox"]:disabled{
    background: #372af1;
}


.btns-form{
    width: 8vw;
    font-weight: bold;
    padding: 5px;
    background-color: #051753;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 5px;
}
.btns-form:hover{
    background-color: rgb(218, 217, 217);
}
#btn-editar-form{
    color: yellow;
    
}
#btn-salvar-form{
    color: #00ca00;
    display: none;

}

#btn-cancelar-form{
    color: red;
    display: none;
}

#btn-voltar-form{
    color: #ffffff;
}


#are-hist_assis{
    width: 40%;
    margin-inline: 20px;

}
#title-Historico{
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: white;
}
hr{
    width: 80%;;
}
#msg-registro-n-encontrado{
    color: rgb(250, 0, 0);
    text-align: center;
}

@media (max-width: 950px) {
    #main{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    #main{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #ficha-assistido-form{
        width: 95%;
    }
    #fieldset-grupo-form{
        width: 100%;
        box-sizing: border-box;
        border: 2px solid white;
    }

    #form-bloco2, #form-bloco1{
        width: 100%;
    }
    .input-form{
        border-radius: 5px;
    }
    #area-input-id{
        width: 10%;
    }
    #area-input-nome{
        width: 90%;
        border-radius: 5px;
    }
    #input-tel{
        width: 33vw;
    }
    #area-input-cpf{
        width: 33vw;
    }
    #area-input-datanasci{
        width: 31vw;
    }
    #input-data_nascimento{
        width: 25vw;
    }
    #area-input-nomemae{
        width: 54%;
        margin-right: 15px;
    }
    #area-input-cep{
        width: 24vw;
    }
    #area-input-cidade{
        width: 45vw;
    }
    #area-input-bairro{
        width: 80%;}
    #area-input-logradouro{
        width: 45vw;
    }
    #area-input-numero{
        width: 13vw;
    }
    #input-numero{
        display: flex;
        align-items: center;
    }
    
    #area-btns-form{
        margin-top: 10px;
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .btns-form{
        width: 26vw;
        padding: 10px;
        background-color: #051753;
        border: 2px solid white;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 10px;
    }


    #are-hist_assis{
        width: 90%;
        margin-top: 20px;
    }
    #msg-registro-n-encontrado{
        text-align: center;
    }
}