body{
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #051753;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';

}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
    background-color: white;
    color: #051753;
    font-size: 15pt;
    font-weight: bold;
}

#area-atendimento{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#btn-atendimento{

    border-radius: 50%;
    border: none;
    font-weight: bold;
    font-size: 25pt;
    color: #051753;
    padding: 30px;
    height: 40vh;
    width: px;
    cursor: pointer;
    box-shadow: 1px 6px 15px black;
}

#btn-historico:hover{
    background-color: #051753;
    color: white;
    border: 1px solid white;
}

#btn-historico{
    margin-top: 25px;
    width: 65%;
    font-size: 15pt;
    font-weight: bold;
    color: inherit;
    color: #051753;
    background-color: white;
    border-radius: 5px;
    padding-block: 5px;
    border: none;
    cursor: pointer;
}