<!DOCTYPE html>
<html lang="pt_br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{% static 'js/ControlesCadAssis.js' %}"></script>

    <link rel="stylesheet" href="{% static 'AssisManage/css/style_cadassis.css' %}">
    <link rel="stylesheet" href="{% static 'AssisManage/css/style_cadassistencial.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">

    <title>Cadastro Assistencial | CEJA</title>
</head>

<body>
    <header id='barra_de_nav'>
        <h2>Cadastro Assistencial</h2>
    </header>

    <main id='main'>
        <div id="area-busca-tb-assis">

            <form method="get" action="{% url 'CadAssis' %}" id="form-input-pesquisa-tb-assis">

                <input id="input-busca-tb-assis" type="search" name="busca" value="{{ busca }}" placeholder="Buscar por partes do nome ou CPF (sem pontos)">
                <button id="btn-pesquisar-tb-assis" class="btn-acao-tb-assis">
                    <img src="{% static 'AssisManage/images/lupa.png' %}" alt="Editar" style="width: 16px; height: 16px; vertical-align: middle; margin-right: 5px;">
                    Buscar
                </button>

                <span id="txt-Quant_resultados">Registros: {{ total_registros }} </span> 
            </form>

            <button id="btn-cad-tb-assis" class="btn-acao-tb-assis">
                <img src="{% static 'AssisManage/images/mais.png' %}" alt="Editar" style="width: 16px; height: 16px; vertical-align: middle; margin-right: 5px;">
                Cadastrar
            </button>
        </div>


        <div id="area-tb-assis">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Primeiro nome</th>
                        <th>CPF</th>
                        <th>Data de Nascimento</th>
                        <th>Ação</th>
                    </tr>
                </thead>

                <tbody>
                    {% for assistido in nome_assistidos %}
                    <tr>
                        <td id="cln-id-tb-assis">{{ assistido.id }}</td>
                        <td id="cln-nome-tb-assis">{{ assistido.name }}</td>
                        <td id="cln-cpf-tb-assis">
                            {{ assistido.cpf|slice:":3" }}.{{ assistido.cpf|slice:"3:6" }}.{{ assistido.cpf|slice:"6:9" }}-{{ assistido.cpf|slice:"9:11" }}
                        </td>

                        <td id="cln-data-nasc-tb-assis">{{ assistido.data_nasci|date:"d/m/Y" }}</td>

                        <td id="cln-acao-tb-assis">                          
                            <button id="btn-edit-assis" class="btn-acao-tb-assis"
                                onclick="window.location.href='{% url 'ficha-assistido' assistido.id %}'">
                                <img src="{% static 'AssisManage/images/olho.png' %}" style="width: 16px; height: 16px; vertical-align: middle; margin-right: 5px;">
                                Visualizar
                            </button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">Nenhum cadastro encontrado cadastrado:(</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>



        <!-- ====================== Popup de Cadastro de Assistido ==================== -->
        <div id="sombra-popup-form-cadassis", style="display: none;">
            <div id="popup-form-cadassis">
            <div id = "area-btn-close-cd-assis">
                <span id="close-popup-cadassis">&times;</span>
            </div>


            <form method="post" id="form-cadassis">
                <h2 id="title-form-cadassis">Cadastrar Assistido</h2>      

                {% csrf_token %}
                <span id="area-campos-form-cadassis">

                    <div class="campos-form-cadassis">
                        <label for="id_name">Nome Completo:</label>
                        {{ form.name }}
                    </div>

                    <div class="campos-form-cadassis">
                        <label for="telefone">Telefone Celular:</label>
                        {{ form.telefone }}
                    </div>

                    <div class="campos-form-cadassis">
                        <label for="data_nasci">Data de Nasc.:</label>
                        {{ form.data_nasci }}
                    </div>

                    <div class="campos-form-cadassis">
                        <label for="cpf">CPF:</label>
                        {{ form.cpf }}
                    </div>

                    <div class="campos-form-cadassis">
                        <label for="nome_mae">Nome da Mãe:</label>
                        {{ form.nome_mae }}
                    </div>

                    <div class="campos-form-cadassis">
                        <label for="cep">Cep:</label>
                        {{ form.cep }}
                    </div>

                    <div class="campos-form-cadassis">
                        <label for="cidade">Cidade:</label>
                        {{ form.cidade }}
                    </div>

                    <div class="campos-form-cadassis">
                        <label for="bairro">Bairro:</label>
                        {{ form.bairro }}
                    </div>

                    <div class="campos-form-cadassis">
                        <label for="logradouro">Logradouro:</label>
                        {{ form.logradouro }}
                    </div>
                    
                    <div class="campos-form-cadassis" id="camp-num-form-cadassis">
                        <label for="numero">N° Residência:</label>
                        {{ form.numero }}
                    </div>

                </span>

                <button type="submit" id="btn-cadassis">Cadastrar</button>
            </form>
        </div> 
    </div>
     </main>
</body>

</html>
