<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            {% load custom_filters %}
            {% load static %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">


            <link rel="stylesheet" href="{% static 'Atendimento/css/style_atendimento.css' %}">
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">


            <title>Atendimento | CEJA</title>
        </head>
        
        <body>
            <header id='barra_de_nav'>
                <h2>Atendimento</h2>
            </header>

            <div id="main">
                
                <div id="area-form">
                    <form id="form-dados-assis" method="post">
                    {% csrf_token %}

                    <fieldset>
                        <div class="form-group" id="area-nome">
                            <label for="nome" class="label-form">Nome Completo:</label>
                            <input type="text" class="input-form" id="nome" name="nome" value="{{ Fatendido.name|default:'' }}" disabled>
                        </div>

                        <div class="form-group" id="area-cpf">
                            <label for="nome" class="label-form">CPF:</label>
                            <input type="text" class="input-form" id="cpf" name="cpf" value="{{ Fatendido.cpf|default:''| format_cpf }}" disabled>
                        </div>

                        <div class="form-group" id="area-data_nasci">
                            <label for="nome" class="label-form">Data de Nasc.:</label>
                            <input type="text" class="input-form" id="data_nasci" name="data_nasci" value="{{ Fatendido.data_nasci|default:''|date:"d/m/Y" }}" disabled>
                        </div>

                        <div class="form-group" id="area-numero">
                            <label for="nome" class="label-form">Número:</label>
                            <input type="text" class="input-form" id="numero" name="numero" value="{{ Fatendido.id|default:'' }}" disabled>
                        </div>
                    </fieldset>
                    </form>
                </div>

                <div id="area-validacao-dados">
                    <div id="area-dados">
                        <table id="tb-area-dados">
                            <tbody style="border: 1px solid white;">
                                <tr id="tb-linha-tip_assis" >
                                    <td>Tip. Assistência:</td>
                                    <td id="input-tip_assis">Cesta Básica de Natal</td>
                                </tr>

                                <tr>
                                    <td>Local:</td>
                                    <td id="input-local">Escola Estênio de Avelar</td>
                                </tr>

                                <tr>
                                    <td>Data:</td>
                                    <td id="input-data"> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="area-mensagens">
                        <span id="msg-confirmacao">
                            <img src="{% static 'Atendimento/images/confirmar.png' %}">
                            Registro encontrado!
                        </span>

                        <span id="msg-negacao">
                            <img src="{% static 'Atendimento/images/close.png' %}" style="width: 15px">
                            Nenhum registro encontrado!
                        </span>

                        <span id="msg-alerta-input-vazio">
                            <img src="{% static 'Atendimento/images/aviso.png' %}" style="width: 18px">
                            Informe um número abaixo primeiro!
                        </span>

                        <span id="msg-gravacao-bem-sucedida">
                            <img src="{% static 'Atendimento/images/confirmar.png' %}" style="width: 18px">
                            Entrega Resgistra com sucesso!
                        </span>

                        <span id="msg-gravacao-falhou">
                            <img src="{% static 'Atendimento/images/close.png' %}" style="width: 15px">
                            Falha ao registrar entrega!
                        </span>

                    
                    </div>
                    <hr>
                </div>

                <div id="area-validacao-Atendimento" >
                    <div id="area-checagem">
                        <input type="number" id="input-checagem" placeholder="100">

                        <button id="btn-pesquisar-numero">
                            <img src="{% static 'Atendimento/images/lupa.png' %}" id="img-lupa" style="width: 20px">
                            Checar
                        </button>
                    </div>

                    <button id='btn-validar-atendimento' disabled>
                        <img src="{% static 'Atendimento/images/confirmar.png' %}" style="width: 20px">
                        Confirmar Entrega
                    </button>
                </div>

            
            </div>

        <script src="{% static 'js/ControlesAtendimento.js' %}"></script>

        </body>
        
    </html>